.reservations_grid {
  display: grid;
  /* with machine 4, without 3 */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  align-items: center;
  column-gap: 16px;
  row-gap: 8px;
  font-size: 14px;
}
/* for machine: start=1, end=5 | without 1,4 */
.brake_line {
  grid-column-start: 1;
  grid-column-end: 4;
  border-bottom: 1px solid #e6eff2;
}
.brake_line:last-child{
  display: none;
}

.reservation_grid__first_column_items {
  justify-self: start;
}
.reservation_grid__middle_column_items {
  justify-self: center;
}
.reservation_grid__last_column_items {
  justify-self: end;
}
.reservation_grid__last_column_items_header {
  justify-self: center;
}

.reservation_grid__header_text {
  font-size: 12px;
  color: #6c7a80;
}

.reservation_grid__content_time {
  white-space: nowrap;
}



/* new */

.reservation_table__row{
  display:flex;
  justify-content: space-between;
}
.reservation_table__row p{
  font-size: 14px;
  /* color: #6c7a80; */
}
.reservation_table__row div{
  white-space: nowrap;
}