* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: #3F788F;
}

body {
  background-color: #e6eff2;
  color: #333c40;
  margin: 0 auto;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

p {
  color: #333c40;
}

h1{
  font-size: 24px;
  font-weight: 600;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 360px;
  /* min height not to cut round background img (468 - 150 px) */
  min-height:318px;
  gap:32px;
  background-position: 50% -150px;
  background-repeat: no-repeat;
}

main{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* managing paragraph spacings */
.text_block p{padding-bottom: 8px;}
.text_block p:last-child{padding-bottom: 0;}

/* light grey color for no content text placeholders */
.no_content_placeholder p{
  color: #6C7A80;
}

.img_btn:hover{
  cursor: pointer;
}


/* forms */
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form label {
  font-size: 12px;
  color: #6c7a80;
}

.form input {
  border: 1px solid #acbabf;
  padding: 8px 16px;
  border-radius: 4px;

  font-size: 20px;
  font-weight: 400;
  color: #333c40;
}

.form input:focus {
  color: #333c40;
  border: 1px solid #333c40;
  outline: 2px solid #acbabf;
}

.form input::placeholder {
  font-size: 20px;
  font-weight: 400;
  color: #acbabf;
}

.form input[type='datetime-local'] {
  font-size: 20px;
  /* font-family: 'Times New Roman', Times, serif; */
}

.form input:disabled{
  background-color: #E6EFF2;
  color: #6C7A80;
  cursor: not-allowed;
}

.input_block {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.submit_button {
  border: none;
  border-radius: 8px;
  background-color: #498ba5;
  color: #fff;
  font-size: 20px;
  padding: 8px 0;
  margin-top: 8px;
  align-self: stretch;
}

.submit_button:hover {
  background-color: #3f788f;
  cursor: pointer;
}

.form button:focus{
  outline: none;
}
