* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

body {
  background-color: #e6eff2;
  color: #333c40;
  margin: 0 auto;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

p {
  color: #333c40;
}

h1{
  font-size: 24px;
  font-weight: 600;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 360px;
  gap:32px;
  background-position: 50% -150px;
  background-repeat: no-repeat;
}

main{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* managing paragraph spacings */
.text_block p{padding-bottom: 8px;}
.text_block p:last-child{padding-bottom: 0;}

/* light grey color for no content text placeholders */
.no_content_placeholder p{
  color: #6C7A80;
}

.img_btn:hover{
  cursor: pointer;
}