.account__list {
  width: 100%;
}

.field_name {
  white-space: nowrap;
  font-weight: 600;
}
.text_content {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.account__list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 8px 0;
  border-bottom: 1px solid #e6eff2;
  position: relative;
}
.account__list li:last-child {
  border: 0;
}

.ux_feedback {
  position: absolute;
  z-index: 200;
  top: calc(-100% + 8px);
  right: 9px;
  transform: translateX(50%);
  background-color: #d9f4ff;
  color: #3f788f;
  padding: 2px 4px;
  border: 2px solid #539fbd;
  border-radius: 2px;
  box-shadow: 0 0 4px #acbabf;
}
